@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body {
  margin: 1em;
  font-family: 'Roboto', sans-serif;
  background-color: #EAEAEA;
}

section {
    display: flex;
    justify-content: center;
    margin-top: 7vh;
}

#left {
    background-color: #6E49F5;
    border-top-left-radius: 60px;
}

.title {
    display: flex;
    text-align: center;
    vertical-align: center;
}

#current {
    font-size: 7rem;
}

#cityName {
    vertical-align: middle;
}

#right {
    height: 60vh;
    width: 50vw;
    background-size: cover;
    border-top-right-radius: 60px;
}

.search {
    display: flex;
}

.search input {
    border-radius: 40px;
    font-size: 2rem;
    margin: 2rem;
    padding-left: 1.5rem;
    border-style: none;
    margin-right: 1rem;
}

.search input::placeholder {
    padding-left: 1rem;
}

.search button {
    border-radius: 10px;
    font-size: 2rem;
    border-style: none;
    padding: 0.8rem;
    margin: 2rem;
}

#cityName{
    font-size: 4rem;
    color: #FFFFFF;
    font-weight: 300;
    justify-content: center;
    text-align: center;
}

section p {
    color: #FFFFFF;
    font-size: 1rem;
    margin-left: 2rem;
}

#weatherContainer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 95vw;
}

#iconsContainer {
    background: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
}

.icons {
    padding: 1rem;
}

.imgClass {
    height: 7rem;
    width: auto;
}

.maxValues {
    font-size: 2rem;
}

.weather {
    margin-left: 1.5rem;
}